.details-pg {
  height: calc(100vh - 176px);
  @media(max-width: 991px) {
    & {
      height: 120vh;
    }
  }
  .detail-card {
    margin-top: 50px;
    display: flex;
    height: 400px;
    margin-bottom: 10px;
    @media(max-width: 991px) {
      & {
        flex-direction: column;
      }
    }
  }
  .imgone{
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    @media(max-width: 991px) {
      & {
        width: 100%;
      }
    }
  }
  .detail-info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;

    .detail-title {
      font-size: 26px;
    }

    .price-info {
      display: flex;
      align-items: center;
      span {
        font-size: 26px;
        font-weight: bold;
      }
    }
    .detail-price {
      background-color: #e95317e9;
      width: fit-content;
      padding: 10px 15px;
      font-size: 20px;
      font-weight: 600;
      color: white;
      border-radius: 10px 0 10px 0;
      margin-left: 20px;
    }

    .detail-more {
      font-size: 15px;
      opacity: .9;
      line-height: 1.7;
      span {
        font-size: 26px;
        font-weight: bold;
      }
    }

    .add-to-card { 
        display: block;
        width: fit-content;
        margin: 5px 0;
        border: 2px solid #ed4e0f;
        background-color: transparent;
        padding: 8px 30px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        transition: 0.5s;
        background-color: #ed4e0f;
        color: white;

        &:hover {
          opacity: .8;
        }
    }
  }
}