.products-pg {
  min-height: calc(100vh - 226px);
  margin-top: 100px;
  .not-found-result {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    width: fit-content;
    margin: 60px auto;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ed4e0f;
    position: relative;
    &.hidden {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ed4e0f;
      width: 120%;
      height: 3px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 55.4px;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: white;
      border: 3px solid #ed4e0f;
      width: 13px;
      height: 13px;
    }
  }
  .main-watches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 15px;
  }
  // Remove More Details Of Img
  .none {
    display: none;
  }
  // Show More Details Of Img
  .zoom-img,
  .animate2 {
    display: block;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadeInRightBig 0.8s forwards;

    &.animate2 {
      animation: fadeOutLeftBig 0.8s forwards;
    }
    .img-box {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 650px;
      height: 50%;
      max-width: 100%;

      @media (max-width: 768px) {
        & {
          width: 450px;
        }
      }
    }
    .x-mark {
      cursor: pointer;
      position: absolute;
      top: -19%;
      right: 1%;
      font-size: 35px;
      color: white;
      @media (min-width: 768px) {
        & {
          top: -25%;
          right: -8%;
        }
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }
  }

  .watch-box {
    width: 270px;
    margin: 20px auto;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: 220px;
      cursor: zoom-in;
    }

    .info-watch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      .title-watch {
        font-size: 20px;
      }

      .price {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .stars-feed {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-left: 17px;
      .empty-stars {
          path {
            fill: transparent;
            stroke-width: 40;
            stroke: #ffa534;
            stroke-dasharray: 2100;
            stroke-dashoffset: 0;
          }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .details {
        display: block;
        width: fit-content;
        margin: 20px 10px;
        border: 2px solid #00a186;
        background-color: transparent;
        padding: 6px 8px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        transition: 0.5s;
        background-color: #00a186;
        color: white;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .cart-btn {
      display: block;
      width: fit-content;
      margin: 20px 10px;
      border: 2px solid #ed4e0f;
      background-color: transparent;
      padding: 6px 8px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
      transition: 0.5s;
      background-color: #ed4e0f;
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
