header {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);

  .nav-bar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
    }

    .form {
      flex-basis: 50%;
      form {
        display: flex;
        input {
          display: block;
          width: 100%;
          border-radius: 4px 0 0 4px;
          color: black;
          outline: none;
          text-transform: capitalize;
          padding: 8px 6px;
          font-weight: 600;
          border: 1px solid #e9531791;
          border-right: none;
          &:focus {
            outline: none;
          }
        }

        .search-btn {
          background-color: #e95317f5;
          border: 1px solid #e95317f5;
          border-left: none;
          border-radius: 0px 4px 4px 0px;
          color: white;
          padding: 0 15px;
          cursor: pointer;
          font-size: 17px;
        }
      }
    }

    .user-need {
      display: flex;
      align-items: center;

      .user {
        display: block;
        color: white;
        text-decoration: none;
        margin-right: 15px;
        position: relative;

        &:hover .say-hello {
          display: block;
        }
        .user-icon {
          color: #e95317;
          font-size: 22px;
        }

        .say-hello {
          display: none;
          position: absolute;
          background-color: #e95317;
          // box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.544);
          padding: 20px;
          left: 50%;
          top: 43px;
          transform: translateX(-50%);
          width: 120px;
          font-size: 18px;
          z-index: 1;
          border-radius: 5px;

          &::after {
            content: "";
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: -58%;
            border-color: transparent transparent #e95317 transparent;
            border-width: 20px;
            border-style: solid;
          }
          span {
            font-weight: 600;
          }
        }
      }

      .cart {
        display: block;
        color: #e95317f5;
        text-decoration: none;
        font-size: 22px;
      }
    }
  }
}
