header {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  .nav-bar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 23px;
      font-weight: bold;
      text-decoration: none;
      color: #e95317;
      text-transform: uppercase;
    }

    .form {
      @media (max-width: 600px) {
        display: none;
      }
      .x-hid {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 20%;
        font-size: 35px;
        color: white;
      }
      &.show {
        display: block;
        .x-hid  {
          display: block;
        }
        
        @media (max-width: 600px) {
          & {
            z-index: 100000;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      flex-basis: 50%;
      form {
        @media (max-width: 600px) {
          & {
            width: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        display: flex;
        input {
          display: block;
          width: 100%;
          border-radius: 4px 0 0 4px;
          color: black;
          outline: none;
          text-transform: capitalize;
          padding: 8px 6px;
          font-weight: 600;
          border: 1px solid #e9531791;
          border-right: none;
          &:focus {
            outline: none;
          }
        }

        .search-btn {
          background-color: #e95317f5;
          border: 1px solid #e95317f5;
          border-left: none;
          border-radius: 0px 4px 4px 0px;
          color: white;
          display: block;
          display: flex;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          font-size: 17px;
        }
      }
    }

    .user-need {
      display: flex;
      align-items: center;

      .user {
        display: block;
        color: white;
        text-decoration: none;
        margin-right: 15px;
        background-color: transparent;
        border: none;
        // position: relative;

        .user-icon {
          cursor: pointer;
          color: #e95317;
          font-size: 25px;
        }

        .say-hello {
          opacity: 0;
          position: absolute;
          text-align: left;
          background-color: #b04609;
          box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.3);
          padding: 20px;
          right: 50%;
          top: 40%;
          width: 370px;
          max-width: 100%;
          height: 200px;
          font-size: 18px;
          z-index: 1;
          border-radius: 5px;
          transition: 0.8s;
          transform: translate(50%, -50%);
          &.show {
            opacity: 1;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
          }
          span {
            font-weight: 600;
          }
          .don {
            margin-top: 30px;
            text-align: center;
          }
          .signup-btn {
            background-color: #ffffff;
            padding: 8px 15px;
            border-radius: 5px;
            color: black;
            text-decoration: none;
            display: block;
            width: fit-content;
            margin: 10px auto;
            &.logout {
              background-color: #00a186;
              border: 1px solid #00a186;
              cursor: pointer;
              color: white;
              font-size: 18px;
              margin-top: 30px;
            }
          }
        }
      }

      .cart {
        &.mag {
          display: none;
          padding-right: 10px;
          margin-right: 10px;
          @media (max-width: 600px) {
            & {
              display: block;
            }
          }
        }
        cursor: pointer;
        display: block;
        color: #e95317f5;
        text-decoration: none;
        font-size: 22px;
        position: relative;
        padding-right: 30px;
        .count-cart {
          position: absolute;
          top: -30%;
          left: 45%;
          font-size: 12px;
          background-color: #e95317;
          color: white;
          width: 10px;
          display: flex;
          padding: 4px;
          align-items: center;
          justify-content: center;
          height: 10px;
          text-align: center;
          border-radius: 50%;
          padding: 9px;
        }
      }
    }
  }
}
