header {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  background-color: white;

  .bg-user-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 3333333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .say-hello,
  .hidden-say {
    opacity: 1;
    position: fixed;
    text-align: left;
    background-color: #ff7b38;
    box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 570px;
    max-width: 100%;
    height: 350px;
    font-size: 18px;
    z-index: 1;
    border-radius: 8px;
    transition: 0.8s;
    animation: fadeInDown 1s forwards;

    &.hidden-say {
      animation: fadeOutUp 1s forwards;
    }

    .x-mark {
      position: absolute;
      right: 3%;
      color: white;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }

    p {
      color: #343a40;
      font-size: 20px !important;
      font-weight: 500;
    }

    span {
      color: white;
      font-weight: 600;
      font-size: 25px;
    }
    .don {
      margin-top: 100px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #262627;
    }
    .signup-btn {
      background-color: #ffffff;
      padding: 8px 15px;
      border-radius: 5px;
      color: black;
      text-decoration: none;
      display: block;
      width: fit-content;
      margin: 10px auto;
      transition: 0.3s;
      font-weight: 500;

      &:hover {
        color: white;
        background-color: #262627;
      }
      &.logout {
        background-color: #262627;
        border: 1px solid #262627;
        cursor: pointer;
        color: white;
        font-size: 18px;
        margin-top: 30px;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .nav-bar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 23px;
      font-weight: bold;
      text-decoration: none;
      color: #e95317;
      text-transform: uppercase;
    }

    .form {
      @media (max-width: 768px) {
        display: none;
      }
      .x-hid {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 20%;
        font-size: 35px;
        color: white;
      }
      &.show {
        display: block;
        .x-hid {
          display: block;
        }

        @media (max-width: 768px) {
          & {
            z-index: 100000;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      flex-basis: 50%;
      form {
        @media (max-width: 768px) {
          & {
            width: 90%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        display: flex;
        input {
          display: block;
          width: 100%;
          border-radius: 4px 0 0 4px;
          color: black;
          outline: none;
          text-transform: capitalize;
          padding: 8px 6px;
          font-weight: 600;
          border: 1px solid #e9531791;
          border-right: none;

          @media (max-width: 768px) {
            & {
              padding: 15px;
            }
          }
          &:focus {
            outline: none;
          }
        }

        .search-btn {
          background-color: #e95317f5;
          border: 1px solid #e95317f5;
          border-left: none;
          border-radius: 0px 4px 4px 0px;
          color: white;
          display: block;
          display: flex;
          align-items: center;
          padding: 0 20px;
          cursor: pointer;
          font-size: 17px;
        }
      }
    }

    .user-need {
      display: flex;
      align-items: center;

      .user {
        display: block;
        color: white;
        text-decoration: none;
        margin-right: 15px;
        background-color: transparent;
        border: none;
        // position: relative;

        // DARK MODE BUTTON
        &.night-btn {
          position: relative;
          width: 42px;
          height: 18px;
          // border: 1px solid #212529;
          background-color: #ced4da;
          border-radius: 100px;
          // overflow: hidden;
          cursor: pointer;

          @media (max-width: 400px) {
            width: 34px;
            height: 16px;
          }
          .btn-circle {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -1px;

            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #212529;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);

            transition: all 0.3s;

            @media (max-width: 400px) {
              width: 17px;
              height: 17px;
            }
          }
        }

        .user-icon {
          cursor: pointer;
          color: #e95317;
          font-size: 25px;
        }
      }

      .cart {
        &.mag {
          display: none;
          padding-right: 10px;
          margin-right: 10px;
          @media (max-width: 768px) {
            & {
              display: block;
            }
          }
        }
        cursor: pointer;
        display: block;
        color: #e95317f5;
        text-decoration: none;
        font-size: 22px;
        position: relative;
        padding-right: 30px;
        .count-cart {
          position: absolute;
          top: -30%;
          left: 45%;
          font-size: 12px;
          background-color: #e95317;
          color: white;
          width: 10px;
          display: flex;
          padding: 4px;
          align-items: center;
          justify-content: center;
          height: 10px;
          text-align: center;
          border-radius: 50%;
          padding: 9px;
        }
      }
    }
  }
}
