.foot {
  // position: relative;
  // margin-top: 200px;
  .footer {
    width: 100%;
    background-color: #222222;
    color: white;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
  }
}
