.login-pg {
  min-height: calc(100vh - 156px);

  .title-log {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #ed4e0f;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
  .form {
    // background-color: #97330b;
    // width: 550px;
    // box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    // min-height: 400px;
    margin: auto !important;
    // margin-top: 30px;
    padding: 20px 15px;
    // border-radius: 5px;
    form {
      width: 100%;
      margin: 20px auto;
      text-align: center;
      .inputs {
        display: inline-block;
        .fn {
          display: none;
          &.show {
            display: block;
          }
        }
        position: relative;
        .exc1 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error1 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      .lname {
        position: relative;
        .exc2 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error2 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      .em1 {
        position: relative;
        .exc3 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error3 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      .phone1 {
        position: relative;
        .exc4 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error4 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      .pass2 {
        position: relative;
        .exc6 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error6 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      .pass1 {
        position: relative;
        .exc5 {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          color: red;
        }
        .error5 {
          font-size: 14px;
          color: red;
          position: absolute;
          bottom: -13px;
          left: 8%;
        }
      }
      input {
        caret-color: #ed4e0f;
        display: inline-block;
        color: black;
        padding: 8px 7px;
        margin: 25px 20px;
        font-size: 18px;
        outline: none;
        background-color: transparent;
        // border: none;
        border: 1px solid #ed4e0fb8;
        border-radius: 3px;
        &:hover {
          outline: none;
        }
      }
      .btn-submit {
        display: block;
        width: 50%;
        margin: 10px auto;
        border: 2px solid #ed4e0f;
        background-color: transparent;
        padding: 6px 0px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        transition: 0.5s;
        background-color: #ed4e0f;
        color: white;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

::placeholder {
  color: rgba(2, 0, 0, 0.615);
}
.butt {
  width: fit-content;
}
.lef {
  margin-left: 12rem !important;
  @media(max-width: 768px) {
    & {
      margin-left: 0 !important;
    }
  }
}